/*    MAIN-STYLESHEET

  *   TODO: Hier kommen nur Seitenübergreifende Styles rein
  *   TODO: Imports von Schriftarten anlegen
  *   TODO: Grids anlegen
  *   TODO: Variablen festlegen

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font, 'Roboto');
  font-size: 16pt;
  background: #fff;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--highlight-font, 'Poppins');
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #2b2b2b;
}

/* === GRID === */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

/* === Class-Regulated-Style === */
/* === Class HEAD === */

  .head {
    min-height: 100vh;
    color: #fff;
  }

  .head .grid {
    width: 992px;
    margin: auto;
  }

  .head .überschrift {
    margin-top: 95%;
    margin-bottom: 20px;
  }

  .head .themes {
    position: relative;
  }

  .head .themes .absulute {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translateX(-50%);
    width: 100%;
  }

  .head .absichern,
  .head .immo,
  .head .finanzen {
    padding-top: 50px;
  }

  .head .absichern {
    padding-left: 0;
  }

  .head .immo {
    padding-left: 50px;
  }

  .head .finanzen {
    padding-left: 100px;
  }

  /* === Section SLIDER === */

  .slider {
    color: #2b2b2b;
  }


  .slide .grid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 1020px;
    margin: 30px auto;
    grid-gap: 20px;

  }

  .slide .immo,
  .slide .sichern {
    box-shadow:  2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .slide p {
    padding: 10px 20px;
    text-align: center;
  }

/* === Section ABSICHERN === */

.absichern h2 {
  text-align: center;
  color: #2b2b2b;
}

.absichern .grid {
  grid-template-columns: auto auto auto auto auto auto;
  width: 90vw;
  margin: auto;
  text-align: center;
}

.absichern .item {
  margin: auto;
}


}

/* === MEDIA QUERYS === */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 300px) {

}
